/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  font-family: 'Inter', sans-serif;
  background-color: #4e86ad;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 400;
}

p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
}
small {
  color: var(--muted-color);
}

/* Header */
.center-text{
  margin-left: -98px;
}
.hero {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
}
.container-fluid{
  text-align: center;
  display: block;
}
.empty{
  color: #fff;
}

.MTR{
  margin-left: -17px;
}
.two{
  display: inline-block;
}
.company{
  display: flex;
  justify-content: center;
  margin-bottom: -114px;
  margin-top: -30px;
}
.center{
  display: flex;
  justify-content: center;
  margin-left: -45px;
}
.card2{
  margin-left: -50px;
}
.card1,
.card2{
  width: 130px;
  height: 195px;
  position: relative;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-left: 30px;
}
.card1 .img-top1,
.card2 .img-top2{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card2:hover .img-top2,
.card1:hover .img-top1{
  display: inline;
}
.card2:hover .img-gone {
  display: none;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current],:hover,:active,:focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
}


.actionBtns{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 40px;
  align-items: center;
}
.left{
  width: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 40px ;
  color: #4e86ad;
  cursor: pointer;
  font-weight: bold;
}
.right{
  width: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 40px ;
  color: #4e86ad;
  font-weight: bold;
  text-align: center;
}
.move{
  text-align: center;
  position: absolute;
  width: 50%;
  height: 90%;
  margin: 3px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #4e86ad;
  box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
  color: #fff;
  font-weight: bold;
  margin-top: 3px;
}
.move{
  transform: translateX(99%);
  transition: all 0.2s ease-in-out;
}

.Recept{
  width: 800px;
  height: 50%;
  align-items: center;
  align-content: center;
}

@media only screen and (min-width: 1198px) {
  .Recept{
    margin-left: 180px;
  }
}
@media only screen and (max-width: 576px) {
  .MTR{
    width: 119px ;
    height: auto;
  }
  .center-text{
    margin-left: -42px;
  }
  
  
}
@media only screen and (max-width: 448px) {
  .move{
    transform: translateX(95%);
    transition: all 0.2s ease-in-out;
  }
}
@media only screen and (min-width: 449px) {
  .move{
    transform: translateX(97%);
  }
}
@media only screen and (min-width: 768px) {
  .move{
    transform: translateX(98%);
  }
}
@media only screen and (min-width: 1200px) {
  .move{
    transform: translateX(99%);
  }
}